@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead">Welcome to the local area trash collection service where you can set up your account, set up your custom pickup day, suspend and reinstate your service, add a special one time pickup day, and or pay your bill.</p>
    <p><a href="http://localhost:56020/Customers/Create" class="btn btn-primary btn-lg">Create Your Customer Account &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>If You Work Here</h2>
        <p>
            go to employee workday page.
        </p>
        <p><a class="btn btn-default" href="http://localhost:56020/employees/index">Click ME! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See all customers</h2>
        <p>If your trash bins go missing you can take one from another customer, choose here.</p>
        <p><a class="btn btn-default" href="http://localhost:56020/Customers/index">Customers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customer edit</h2>
        <p>Quick link to create customer.</p>
        <p><a class="btn btn-default" href="http://localhost:56020/Customers/edit">Edit &raquo;</a></p>
    </div>
</div>